*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.font-open-sans{
   

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size:45px;
        font-weight:900px;

}

.color{
    color:#FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border:none;
    border-radius:5px;
    padding:18px 35px;
    font-size:20px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}

.section-heading{
    max-width:827px;
    text-align:center;
}

.section-heading h2{
    font-size:35px;
    margin-bottom:30px;
}

.section-heading p{
    font-size:18px;
    margin-bottom:30px;
    line-height: 30px;
    color:#757575;
}

/*main style*/

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width:71%;
    max-width:1140px;
    
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display:flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}

nav .menu a{
    font-size:20px;
    text-decoration: none;
    color:#474747;
}


#banner{
    margin:47px 38px 0px 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width:585px;
}

#banner .banner-content h2{
 
    font-size:45px;
    color:#474747;
    font-weight:600px;
    margin-bottom:5px;
}

#banner .banner-content h1{
    font-size:85px;
    color:#181818;
    font-weight:bold;
    margin-bottom:20px;
}

#banner .banner-content p{
    font-size:18px;
    color:#757575;
    line-height: 30px;
    width:585px;
    margin-bottom:30px;
}

#banner .banner-img img{
    max-width:540px;
    vertical-align: middle;
}

#about{
    padding-top:130px;
}

#about .about-content{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    text-align: center;
    background-color:#FFF8F3 ;
    padding:131px 156px;

}

#about .about-content .about-info{

    display:flex;
    justify-content: space-around;

}

.about-info .about-card p{
    font-size:20px;
    color:#757575;
    line-height: 30px;
}

.about-info .about-card h4{
    font-size:20px;
}